div.box1 {
    height: 100px;
    width: 300px;
    background-color:brown
}

div.box2{ 
    height: 200px;
    width: 400px;
    background-color:darkorchid
}

div.box3 {
    height: 300px;
    width: 300px;
    background-color:darkgreen

}